- var thismod = "rfid"
- var pkg = "rfid-pn532"
- var doThis = "Tap the included RFID card on the reader to get its UID!"
- var bonus = "<br/><br/><b>Bonus:</b> Change the polling rate of the RFID module so that it only checks for a card once every three seconds. (Hint: you may need to check the docs.)"

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg
- moreInfo = render(moreInfo, {'module': thismod.toUpperCase(), 'href': moduleDocs})

//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", render(plugIn, {'module': thismod.toUpperCase(), 'port': 'A'}))
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", render(install, {'package': pkg}))
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", render(push, {'module': thismod}) + doThis + bonus + moreInfo)
- i++
+seeForums(i, thismod, thismod.toUpperCase())
